<h2 id="title">Welcome to Ember_1.js</h2>

<section id="usersapp">
  <header id="header">
    <h1>users</h1>
  </header>
  {{outlet}}
</section>

<footer id="info">
  <p>Double-click to edit a user</p>
</footer>

